.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 45, 45);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.wrapper {
  background-color: aquamarine;
  padding: 2rem;
}

.title {
  display: block;
  text-align: center;
}

.answer {
  font-size: 1.25rem;
}

.expand {
  font-size: 2.5rem;
  cursor: pointer;
}

.multiButton {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(2, 40, 40);
  color: white;
  border: solid white 1px;
}
