.myGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  height: 420px;
  width: 420px;
}

.myGridContainer {
  position: relative;
}

.myGridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagonalLineCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
