/* .image {
    height: 200px;
    width: 200px;
  } */

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

p {
  font-size: 1.25rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 5rem;
  /* align-items: center; */
}

button {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: rgb(86, 87, 87);
  color: white;
  border: none;
  cursor: pointer;
}
